NODE_ENV=development
PORT=3001

DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=comidadb
DB_USER=admin
DB_PASSWORD=9aOv,@87980lO7)CeJaE
DB_SSL=false

JWT_SECRET=secretkeyjireh
JWT_EXPIRES_IN=15d
CORS_ORIGIN=*
JSON_LIMIT=50mb
